/.project
documentation/build
*.pyc
/node_modules
workflowmanagement/upload/file
workflowmanagement/workflowmanagement/local_settings.py
/env
workflowmanagement/ui/static/bundle.js
workflowmanagement/ui/static/bundle.min.css
npm-debug.log