django==1.8
psycopg2==2.5.4
django-grappelli==2.6.2
djangorestframework==3.1.1
markdown==2.5.1
django-filter==0.9.2
django-rest-swagger==0.1.14
Sphinx==1.2.3
sphinx_rtd_theme==0.1.5
django-oauth-toolkit==0.7.2
hashids==1.0.1
django-model-utils==2.2
django.js==0.8.1
celery==3.1.18
html2text==2015.4.14
django-premailer==0.1.0
openpyxl==2.2.2
raven==5.5.0
