{% extends "mail/common.html" %}

{% block header %}
{{object.processtask}} is behind schedule
{% endblock %}

{% block body %}
Hello dear {{ user }},<br /><br />

This email is meant to inform you that the task {{object.processtask}} to which you have been assigned to, is approaching its deadline.

{% if settings.INCLUDE_EMAIL_LINKS and link_delegate %}
<br /> <br />
You can complete this task <a href="{{link_delegate}}">here</a>
{% endif %}

<br /><br />
Best Regards,<br />
Taska
{% endblock %}