{% extends "mail/common.html" %}

{% block header %}
{{object.processtask}} can be executed
{% endblock %}

{% block body %}
Dear {{ user }},<br /><br />

This email is meant to inform you that the task {{object.processtask}} of the study {{object.processtask.process}} can now be executed.

<br /> <br />
You can access the task <a href="{{link_delegate}}">here</a>
<br /><br />
You agreed to complete the task by {{object.processtask.deadline}}. However, if you want to ask for reassignement of this task to another user,
    or wish to negotiate the deadline, or need any other clarification with respect to this task, please click on link above and
    use the "Ask for reassignement" or the "Ask for clarification" button. This will send a message to the study manager, who will address your request.
<br /><br />
Best Regards,<br />
Taska
{% endblock %}
