{% extends "mail/common.html" %}

{% block header %}
{%if instance.actor.first_name %}{{instance.actor.get_full_name}}{% else %}{{instance.actor.email}}{%endif%} password recovery
{% endblock %}

{% block body %}
Dear {%if instance.actor.first_name %}{{instance.actor.get_full_name}}{% else %}{{instance.actor.email}}{%endif%},<br /><br />

This message is meant to inform you that you (or someone pretending to be you) has asked for a password recovery. If you did not make this request, please ignore this message.
<br /><br />
To choose a new password please, click <a href="{{settings.EMAIL_URL}}/changepassword/{{object.hash}}">here</a>.
<br /> <br/>
Best Regards,<br />
Taska
{% endblock %}
