html {
    position: relative;
    min-height: 100%;
    min-width: 480px;
}
.navbar{
    min-width: 480px;
}
body {
    font-family: opensans;
    font-size: 140%;
    margin: 0 0 50px; /* bottom = footer height */
    padding-top: 70px;
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: opensansbold;
}
strong{
    font-family: opensansbold;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 15px 0px;
    text-align: center;
    background-color: #f8f8f8;
}
.container {
    position: relative;
}
.loading{
    z-index: 3000;
    position: absolute;
    right: 20px;
    top: 4px;
}
.breadcrumbs {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumbs {
    color: #777;
}

.breadcrumbs a:after{
    padding: 0 0 0 8px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumbs a:hover:after{
    text-decoration: none !important;
}

.user-login{
    min-width: 200px;
}
.user-details{
    padding: 10px 10px 0 10px;
}
.user-details strong{
    font-size: 12px;
}

.user-details hr{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}

.thumb {
    font-size: 40px;
}

.panel-overflow{
    height: 385px;
    overflow-y: auto;
    position: relative;
}

.panel-overflow > .panel-heading{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.panel-overflow table{
    margin-top: 38px;
    margin-bottom: 0;
}

.event-td{
    width: 50px;
}
.manage-td{
    width: 130px;
}

.table-prev{
    display: inline-block;
}
.griddle-page{
    display: inline-block;
}
.table-next{
    display: inline-block;
}

.griddle-footer{
    text-align: center;
}
.table-prev button, .table-next button {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.table-prev button {
    margin-left: 10px;
}
.griddle-page select{
    margin-left: 10px;
    height: 34px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer-container{
    padding: 5 !important;
}

.progressbar-process{
    width: 50px;
    display: inline-block;
    margin-top:7px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 1px solid rgb(203, 203, 203);
}

.process-td{
    width: 57px;
}

.circle {
    margin-top: 4px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: grey;
}

.circle-success{
    background-color: #5cb85c;
}

.circle-danger{
    background-color: #D9534F;
}
.circle-warning{
    background-color: #F0AD4E;
}
.circle-grey{
    background-color: grey;
}

.request-td{
    width: 70px;
}

.griddle th{
    cursor: pointer;
}

.taskbar{
    background-color: whitesmoke;
    border-right: 1px solid rgb(205, 205, 205);
    height: 100%;
    margin-bottom: 20px;

}

@media screen and (max-width: 992px) {
    .taskbar {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        border-right: 0;
    }
}

@media screen and (min-width: 992px){
    .table-container {
      display: table;
    }

    .table-container .table-row {
      height: 100%;
      display: table-row;
    }

    .table-container .table-row .table-col {
      display: table-cell;
      float: none;
      vertical-align: top;
      padding: 20px;
    }
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.breadcrumbs > span:first-child::before{
    font-family: fa;
    content: '\f015';
    color: rgb(51, 122, 183);
    margin-right: 5px;
}

.input-group-addon {
    min-width:150px;
    text-align:left;
}

.modalback{
    background-color: rgba(255, 255, 255, 0.64);
}


// include these styles to test normal form fields

.form-input {
    margin-bottom: 15px;
}

.form-input input {

    font-size: 14px;
    width: 100%;
    background-color: white;
    border: 1px solid @select-input-border-color;
    border-color: lighten(@select-input-border-color, 5%) @select-input-border-color darken(@select-input-border-color, 10%);
    border-radius: @select-input-border-radius;
    box-sizing: border-box;
    color: @select-text-color;
    outline: none;
    padding: @select-padding-vertical @select-padding-horizontal;
    transition: all 200ms ease;

    &:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    &:focus {
        border-color: @select-input-border-focus lighten(@select-input-border-focus, 5%) lighten(@select-input-border-focus, 5%);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(@select-input-border-focus,50%);
    }
}

*/
.form-toolbar {
  margin-top: 15px;
}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: spin 400ms infinite linear;
  -o-animation: spin 400ms infinite linear;
  animation: spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #eee;
  color: #333333;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #777777;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #0088cc;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #ABABAB;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #444444;
  color: white;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
