@import url("../font-awesome/css/font-awesome.min.css");

@font-face {
    font-family: opensans;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: opensansbold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

html {
    position: relative;
    min-height: 100%;
    min-width: 480px;
}
.navbar{
    min-width: 480px;
}
body {
    font-family: opensans;
    font-size: 140%;
    margin: 0 0 50px; /* bottom = footer height */
    padding-top: 70px;
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: opensansbold;
}
strong{
    font-family: opensansbold;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 15px 0px;
    text-align: center;
    background-color: #f8f8f8;
}

.breadcrumbs {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumbs {
    color: #777;
}

.breadcrumbs a:after{
    padding: 0 0 0 8px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumbs a:hover:after{
    text-decoration: none !important;
}

.user-login{
    min-width: 200px;
}
.user-details{
    padding: 10px 10px 0 10px;
}
.user-details strong{
    font-size: 12px;
}

.user-details hr{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}

.thumb {
    font-size: 40px;
}

.panel-overflow{
    height: 385px;
    overflow-y: auto;
    position: relative;
}

.panel-overflow > .panel-heading{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.panel-overflow table{
    margin-top: 38px;
    margin-bottom: 0;
}

.event-td{
    width: 50px;
}
.manage-td{
    width: 200px;
}

.table-prev{
    display: inline-block;
}
.griddle-page{
    display: inline-block;
}
.table-next{
    display: inline-block;
}

.griddle-footer{
    text-align: center;
}
.table-prev button, .table-next button {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.table-prev button {
    margin-left: 10px;
}
.griddle-page select{
    margin-left: 10px;
    height: 34px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer-container{
    padding: 5 !important;
}

.progressbar-process{
    width: 50px;
    display: inline-block;
    margin-right:5px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 1px solid rgb(203, 203, 203);
}

.process-td{
    width: 150px;
}
