.context-menu-background{
    display: none;
    z-index: 2999;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.react-contextmenu{
    z-index: 3000;
    display: block;
    position: fixed;
    margin-bottom: 5px;
}
