{% extends "mail/common.html" %}

{% block header %}
Study {{object}} is awaiting for your confirmation
{% endblock %}

{% block body %}
Hello dear user,<br /><br />

This email is meant to ask for your availability to do that tasks 
<br />

{% for task in list_tasks %}
    {{ task }} <br />
{% endfor %}



{% if link_open_plataform %}
<br />

You can accept or reject all tasks about this study <a href="{{link_open_plataform}}">here</a>

{% endif %}
<br /><br />
Best Regards,<br />
Taska
{% endblock %}