{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Workflow Management for Biomedical exploration - Login</title>
  <meta name="description" content="Workflow Management for Biomedical exploration">
  <meta name="author" content="Ricardo Ribeiro">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{% static "bundle.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>

<body>
    <div id="playground"></div>
    <script src="{% static "bundle.js" %}"></script>
</body>
</html>


